       {% assign comments = site.data.comments | where:"link", page.id | sort  %}
       {% if comments.size > 0 %}
       <div>
       	<h3 class="uk-margin-medium-top">Comments</h3>
				{% for comment in comments %}
				<div class="uk-comment uk-margin-medium-bottom">
					<div class="uk-comment-body">
					{{ comment.message | markdownify }}
					</div>
					<div class="uk-comment-footer"><small>Posted by: <strong>{{ comment.name }}</strong></small></div>
				</div>
			{% endfor %}
		</div>
		{% endif %}
       <button id="show_comment" class="uk-button uk-button-primary uk-button-large button-cta" href="{{ domain }}{{ page.cta.button_url }}">Add a comment</button>

       <div id="comment_form" style="display: none;">
	       <h3 class="uk-margin-medium-top">Comment</h3>
	        <form class="uk-form-stacked uk-margin-medium-top" method="POST" action="https://mightymango-staticman.herokuapp.com/v2/entry/mightymango/mangodocs/livingstreets/comments" accept-charset="UTF-8">
	        <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}">
	        <input name="options[slug]" type="hidden" value="">
	        <input name="fields[link]" type="hidden" value="{{ page.id }}">
	            <div class="uk-margin-medium-bottom">
	                <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Name</label>
	                <div class="uk-form-controls">
	                    <input class="uk-input uk-form-large uk-border-rounded" name="fields[name]" type="text" required>
	                </div>
	            </div>
	            <div class="uk-margin-medium-bottom">
	                <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Email <small><i>optional</i></small></label>
	                <div class="uk-form-controls">
	                    <input class="uk-input uk-form-large uk-border-rounded" name="fields[email]" type="email">
	                </div>
	            </div>
	            <div class="uk-margin-medium-bottom">
	                <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Comment</label>
	                <div class="uk-form-controls">
	                    <textarea class="uk-textarea uk-form-large" name="fields[message]" rows="5" minlength="10" required></textarea>
	                </div>
	            </div>
	            <div>
	                <input class="uk-button uk-button-primary uk-button-large uk-width-1-1 uk-border-rounded" type="submit" value="Post">
	                <p class="text-grey"><small>Your comment will only be displayed once it has been processed by the system. This may take a few minutes. Please refresh to view your post.</small></p>
	            </div>
	        </form>
      </div>

      <script>
      	$( document ).ready(function() {
  			$( "#comment_form" ).hide()
  			$( "#show_comment" ).on("click", function() {
  				$( "#comment_form" ).toggle("slow")
			});
		});
      </script>